body {
	padding-top: 80px;
}

.obrigatorio {
	color: red;
	font-weight: bold;
}

legend {
	border-bottom: 1px solid #ced4da;
	margin-bottom: 20px;
	margin-top: 20px;
}

#form-group {
	margin-bottom: 0.5rem;
}

teste {
	border-color: #E74C3C;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.25);
}